<mat-toolbar color="primary">
  <span>Streaming-Team-Website</span>
  <span class="spacer"></span>

  <a *ngIf="!authService.isAuthenticated" mat-mini-fab routerLink="admin" routerLinkActive="admin-active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}"
    class="login-link link" color="primary">
    <mat-icon color="primary">login</mat-icon>
  </a>

  <a *ngIf="authService.isAuthenticated" routerLink="admin" routerLinkActive="home-active" ariaCurrentWhenActive="page"
    [routerLinkActiveOptions]="{exact: true}" class="home-link link" color="primary">
    <p>Admin page</p>
  </a>

  <a mat-button routerLink="" routerLinkActive="home-active" ariaCurrentWhenActive="page"
    [routerLinkActiveOptions]="{exact: true}" class="home-link link" color="primary">
    Home
  </a>

  <button (click)="authService.logout()" *ngIf="authService.isAuthenticated" mat-mini-fab routerLinkActive="admin-active" ariaCurrentWhenActive="page"
    [routerLinkActiveOptions]="{exact: true}" class="login-link link" color="primary">
    <mat-icon color="primary">logout</mat-icon>
  </button>
</mat-toolbar>
