<div *ngIf="authService.isAuthenticated; else loggedOut" class="admin-page">
  <p>admin-page works!</p>

  <div class="main-wrapper">
    <div>
      <form class="wrapper" [formGroup]="newMemberForm" (submit)="onSubmitMember()">
        <h2>Add new Member</h2>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput type="text" formControlName="description">
        </mat-form-field>

        <app-file-upload
          formControlName="image"
        ></app-file-upload>

        <app-tag-selector (tagsChangedEvent)="updateTags($event)"></app-tag-selector>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>

      <div>
        <h2>Members</h2>
        <div class="members-cards-wrapper">
          <app-member-card
            *ngFor="let member of members"
            [member]="member"
            [small]="true"
            [adminMode]="true"
          ></app-member-card>
        </div>
      </div>
    </div>

    <div>
      <form class="wrapper" [formGroup]="newTagForm" (submit)="onSubmitTag()">
        <h2>Add new Tag</h2>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Color</mat-label>
          <input
            matInput
            type="text"
            cpAlphaChannel="disabled"
            (colorPickerSelect)="colorChange($event)"
            [(colorPicker)]="tagColor"
            formControlName="color"
          >
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
      <div>
        <h2>Tags</h2>
        <mat-chip-listbox aria-label="label selection">
          <mat-chip
            *ngFor="let tag of tags"
            [ngStyle]="{'--mdc-chip-elevated-container-color': tag.color || '#f5f5f5', '--mdc-chip-label-text-color': pickTextColorBasedOnBgColorAdvanced(tag.color, '#ffffff', '#000000') }"
          >
            {{tag.name}}
            <button matChipRemove (click)="removeTag(tag)">
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-listbox>
      </div>
    </div>
  </div>
</div>




<ng-template #loggedOut>
    <p>Not logged in</p>
    <form class="wrapper" [formGroup]="passwordForm" (submit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
</ng-template>


