.wrapper {
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}


mat-chip mat-icon {
  color: var(--mdc-chip-label-text-color);
}
