.member-card-wrapper {
  margin: 5rem auto 0;
  padding: 0 2em;
  max-width: 75rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 1rem;
  justify-content: space-around;
  max-width: min(100%, 75rem);
}


@media screen and (max-width: 1000px) {
  .member-card-wrapper {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 540px) {
  .member-card-wrapper {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

